.navbar .container {
  background-color: #3a497b;
  border-radius: 20px;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  color: #09c !important;
  transition: color 0.5s;
}

.site-title {
  display: block;
  padding-top: 5px;
}

#games {
  background-color: #272b30;
}

body {
  background-color: #272b30;
}

header {
  background-color: #2e3237;
}

header img {
  max-height: 30vh;
  object-fit: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  list-style-type: none;
}

.card {
  transform: scale(1, 1);
  transition: all 0.5s;
  background-color: #272b30;
  color: azure;
}

.card:hover {
  transform: scale(1.03, 1.03);
  cursor: pointer;
}

#game-details {
  top: 0;
  display: none;
  background-color: #27282b;
  opacity: 1;
}

#game-details .container {
  height: 100%;
}

#games {
  display: block;
}

.btn-close {
  position: relative;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }
  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}

/* .loading-layer {
  background-color: #09c;
  opacity: 0.5;

} */

.loading {
  top: 45vh;
  left: 50%;
}

.nav-link {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 18.375px;
}

.branding img {
  width: 40px !important;
  height: 40px !important;
}